/**
 * Borders
 */
 .bord-0a {
   border: 1px solid #666;
 }

 .bord-t-0a {
   border-top: 1px solid #666;
 }

 .bord-r-0a {
   border-right: 1px solid #666;
 }

 .bord-b-0a {
   border-bottom: 1px solid #666;
 }

 .bord-l-0a {
   border-left: 1px solid #666;
 }
