._flex {
  display: flex;
  align-items: center;
}

._flex-row {
  flex-direction: row;
}

._flex-col {
  flex-direction: column;
}

._flex-item {
  flex: 1 auto;
}

._flex-justify-space {
  justify-content: space-between;
}
