/**
 * Typography
 */
.fon-0a {
  font-family: 'Open Sans', sans-serif;
}

.fon-0b {
  font-family: 'Catamaran', sans-serif;
}

.let-spacing-0a {
  letter-spacing: 2px;
}

.te-a-0a {
  text-align: left;
}
.te-a-0b {
  text-align: center;
}
.te-a-0c {
  text-align: right;
}

.te-d-0a {
  text-decoration: lowercase;
}
.te-d-0b {
  text-decoration: uppercase;
}
.te-d-0c {
  text-decoration: capitalize;
}
.te-d-n {
  text-decoration: none;
}

.te-tr-0a {
    text-transform: uppercase;;
}
.te-tr-0b {
    text-transform: lowercase;
}
.te-tr-0c {

}

.v-a-t {
  vertical-align: top;
}

.v-a-m {
  vertical-align: middle;
}

.fs-0a {
  font-size: 12px;
}
.fs-0b {
  font-size: 14px;
}
.fs-0c {
  font-size: 16px;
}
.fs-0d {
  font-size: 18px;
}
.fs-0e {
  font-size: 20px;
}
.fs-0f {
  font-size: 22px;
}
.fs-0g {
  font-size: 24px;
}
.fs-0h {
  font-size: 26px;
}
.fs-0i {
  font-size: 28px;
}
.fs-0j {
  font-size: 30px;
}
.fs-0k {
  font-size: 31px;
}
.fs-0l {
  font-size: 32px;
}
.fs-0m {
  font-size: 34px;
}
.fs-0n {
  font-size: 36px;
}
.fs-0o {
  font-size: 38px;
}
.fs-0p {
  font-size: 40px;
}
.fs-0q {
  font-size: 42px;
}
.fs-0r {
  font-size: 44px;
}
.fs-0s {
  font-size: 46px;
}
.fs-0t {
  font-size: 48px;
}
.fs-0u {
  font-size: 50px;
}
