<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>

    <link href="https://fonts.googleapis.com/css?family=Catamaran|Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body class="box _max-1 _col-1">
    <header class="header _col-1">
        <div class="_flex overflow-sc">
            <div class="_flex-item">
                <div class="_flex _flex-justify-space box _col-1-2">
                    <div class="avatar avatar-0a _flex-item _col-1-2">
                        <img src="images/profile-pic.jpg" alt="placeholder image">
                    </div>
                    <div class="name _flex-item box te-a-0a">
                        <div><strong>Jeremiah McCurdy</strong></div>
                        <div><strong>JavaScript/Frontend Developer</strong></div>
                    </div>
                </div>
            </div>
            <div class="_flex-item">
                <div class="_flex box-t box-r box-b">
                    <div class="name dis-t">
                        <strong class="dis-tc box-r bord-r-0a v-a-m fs-0b">Address</strong>
                        <div class="dis-tc box-l v-a-m fs-0a">
                            <p>Eensgevonden 12</p>
                            <p>1103 BA Amsterdam</p>
                        </div>
                    </div>
                    <div class="name dis-t box-l">
                        <strong class="dis-tc box-r bord-r-0a v-a-m fs-0b">Contact</strong>
                        <div class="dis-tc box-l v-a-m fs-0a">
                            <p>+385 91 605 6012</p>
                            <p>jeremiah.mccurdy@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="clearfix">
        <div class="box pull-left _col-2">
            <div class="box-b">
                <h3>Personal Statement</h3>
                <hr />
                <p class="box-t box-b">I am a 38 year old frontend developer originally from California, currently based in Amsterdam, Netherlands. I am passionate about developing solutions that spark conversations between companies and their target audience.</p>
                <p class="box-b">I've been working for the last year at Suitsupply as a medior developer on an ecommerce site, another year as a JavaScript Developer at a dev shop building various web apps and sites, and one year as a Junior freelance developer.</p>

                <p class="box-b">I'm currently looking for opportunities at companies that have a thriving culture of developers passionate about what they are doing, where I can grow and push my boundaries.</p>
            </div>
            <h3>My Specialties</h3>
            <hr />

            <div class="specialty te-a-0b">
                <div class="dis-ib box te-a-0b">
                    <i class="dis-b material-icons box-b specialty__icon box">&#xE86F;</i>
                    <strong class="dis-b specialty__text">Problem Solving</strong>
                </div>

                <div class="dis-ib box te-a-0b">
                    <i class="dis-b material-icons box-b specialty__icon box">&#xE7F0;</i>
                    <strong class="dis-ib specialty__text">Collaboration</strong>
                </div>

                <div class="dis-ib box te-a-0b">
                    <i class="material-icons dis-b box-b specialty__icon box">&#xE051;</i>
                    <strong class="dis-ib specialty__text">UI/UX Development</strong>
                </div>
            </div>

            <h3>Skills</h3>
            <hr />

            <div class="pull-left _col-1">
                <h4 class="fon-0b">Coding</h4>

                <ul class="skills">
                    <li class="skills__item">
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point filled"></span>
                        <span class="skills__point"></span>
                        <span class="skills__point"></span>
                        <h4 class="dis-ib fs-0b te-tr-0a marg-n">Javascript</h4>
                    </li>
                </ul>

                <li class="skills__item">
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <h4 class="dis-ib fs-0b te-tr-0a marg-n">Node</h4>
                </li>


                <li class="skills__item">
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <h4 class="dis-ib fs-0b te-tr-0a marg-n">CSS</h4>
                </li>


                <li class="skills__item">
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <h4 class="dis-ib fs-0b te-tr-0a marg-n">HTML</h4>
                </li>

                <li class="skills__item">
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <h4 class="dis-ib fs-0b te-tr-0a marg-n">Git</h4>
                </li>

                <li class="skills__item">
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <h4 class="dis-ib fs-0b te-tr-0a marg-n">React</h4>
                </li>

                <li class="skills__item">
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point filled"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <span class="skills__point"></span>
                    <h4 class="dis-ib fs-0b te-tr-0a marg-n">Meteor</h4>
                </li>

                </ul>
            </div>

            <div class="pull-left _col-1 te-a-0a">
                <h4 class="fon-0b">Languages</h4>

                <div class="box highlight--circle highlight--border dis-ib te-a-0b bord-0a avatar-0a v-a-m">
                    <div class="dis-ib v-a-m te-a-0b highlight__content">
                        <span class="dis-b fon-0b te-tr-0a fs-0d">English</span>
                        <span class="dis-b">Fluent</span>
                    </div>
                </div>

                <div class="box highlight--circle highlight--border dis-ib te-a-0b bord-0a avatar-0a v-a-m">
                    <div class="dis-ib v-a-m te-a-0b highlight__content">
                        <span class="dis-b fon-0b te-tr-0a fs-0d">Croatian</span>
                        <span class="dis-b">Beginner</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="box pull-left _col-2">

            <h3>Experience</h3>
            <hr />

            <div class="dis-t _col-1">
                <div class="dis-tc _col-2-10 v-a-t te-a-0b box">
                    <div class="dis-ib te-a-0b">
                        <span class="fs-0u dis-b">1</span>
                        <span class="fs-0a">Year</span>
                    </div>
                </div>

                <div class="dis-tc v-a-t _col-8-10 box">
                    <span class="fs-0d te-tr-0a">Suitsupply</span>
                    <div class="fs-0b">
                        <p>Amsterdam, Netherlands</p>
                        <p>Frontend Developer</p>
                        <p>From April 2016 - April 2017</p>
                        <a class="te-d-n" href="http://www.suitsupply.com">www.suitsupply.com</a>
                    </div>
                </div>
            </div>

            <div class="dis-t _col-1">
                <div class="dis-tc _col-2-10 v-a-t te-a-0b box">
                    <div class="dis-ib te-a-0b">
                        <span class="fs-0u dis-b">1</span>
                        <span class="fs-0a">Year</span>
                    </div>
                </div>

                <div class="dis-tc v-a-t _col-8-10 box">
                    <span class="fs-0d te-tr-0a">Infinum</span>
                    <div class="fs-0b">
                        <p>Zagreb, Croatia</p>
                        <p>JavaScript Developer</p>
                        <p>From January 2015 to February 2016</p>
                        <a class="te-d-n" href="https://infinum.co/">www.infinum.co</a>
                    </div>
                </div>
            </div>

            <div class="dis-t _col-1">
                <div class="dis-tc _col-2-10 v-a-t te-a-0b box">
                    <div class="dis-ib te-a-0b">
                        <span class="fs-0u dis-b">1</span>
                        <span class="fs-0a">Year</span>
                    </div>
                </div>

                <div class="dis-tc v-a-t _col-8-10 box">
                    <span class="fs-0d te-tr-0a">Freelancer</span>
                    <div class="fs-0b">
                        <p>Zagreb, Croatia</p>
                        <p>Frontend Developer</p>
                        <p>From January 2014 December 2014</p>
                    </div>
                </div>
            </div>

            <h3>Projects</h3>
            <hr />

            <div class="clearfix _col-1">
                <div class="pull-left _col-1-10 v-a-t te-a-0b box-0a">
                    <i class="material-icons fs-0u">&#xE8B8;</i>
                </div>

                <div class="pull-left v-a-t _col-9-10">
                    <div class="box box-v-0a">
                        <span class="fs-0d te-tr-0a">Suitsupply - Widgets, ads, filters</span>
                        <div class="fs-0b">
                            <ul class="list-0c">
                                <li>Built various ads and the flexbox template for ads</li>
                                <li>Built the video library to implement all video functions and types within the site</li>
                                <li>Built the main product filter bar on all product pages</li>
                                <li>Built the 2016 Olympics campaign page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box box-v-0a">
                        <span class="fs-0d te-tr-0a">Suitsupply - Ecommerce &amp; Tracking</span>
                        <div class="fs-0b">
                            <ul class="list-0c">
                                <li>Used Demandware and Handlebars to implement object (products) handling solutions</li>
                                <li>Implemented custom Google Tag Manager tracking</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box box-v-0a">
                        <span class="fs-0d te-tr-0a">Infinum - Web Apps &amp; Sites</span>
                        <div class="fs-0b">
                            <ul class="list-0c">
                                <li>
                                    Worked on a 4 man team to create a "build your own children's book" site, where I was in charge of implementing the core UI elements:
                                    <a class="te-d-n" href="https://www.tvornica-snova.hr/">Mr. GoodKnight</a>
                                </li>
                                <li>Worked on a 3 person team to create a web app that tracked, directed, and recorded Delivery Trucks loading and unloading at warehouse facilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Education</h3>
            <hr />
            <div class="box">
                <ul class="list-0b fs-0b">
                    <h3 class="marg-b-n">Self-taught Programmer</h3>
                    <li class="colo-0c">
                        <span>2014 - always ongoing</span>
                        <span class="dis-b">frontendMasters.com, codeschool.com, lynda.com, egghead, etc.</span>
                    </li>

                    <h3 class="marg-b-n">B.A. English Literature</h3>
                    <li class="colo-0c">
                        <span>August 1996 - January 2001</span>
                        <span class="dis-b">University of California Irvine, USA</span>
                    </li>
                </ul>
            </div>

            <h3>Hobbies and Interests</h3>
            <hr />
            <div class="dis-ib te-a-0b avatar-0a v-a-m">
                <div class="dis-ib v-a-m box">
                    <span class="dis-b fon-0b"><i class="material-icons fs-0n">&#xE54B;</i></span>
                    <span class="dis-b">Reading</span>
                </div>
            </div>
            <div class="dis-ib te-a-0b avatar-0a v-a-m">
                <div class="dis-ib v-a-m box">
                    <span class="dis-b fon-0b"><i class="material-icons fs-0n">&#xE30A;</i></span>
                    <span class="dis-b">Tinkering</span>
                </div>
            </div>
            <div class="dis-ib te-a-0b avatar-0a v-a-m">
                <div class="dis-ib v-a-m box">
                    <span class="dis-b fon-0b"><i class="material-icons fs-0n">&#xE195;</i></span>
                    <span class="dis-b">Traveling</span>
                </div>
            </div>
            <div class="dis-ib te-a-0b avatar-0a v-a-m">
                <div class="dis-ib v-a-m box">
                    <span class="dis-b fon-0b"><i class="material-icons fs-0n">&#xE310;</i></span>
                    <span class="dis-b">Music</span>
                </div>
            </div>

        </div>
    </div>

</body>

</html>